[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=hazem
Group=hazem
WorkingDirectory=/home/hazem/app/src/
Environment="PATH=/home/sanjeev/app/venv/bin"
EnvironmentFile=/home/hazem/.env
ExecStart=/home/hazem/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target